*{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    /* max-height: auto; */
    /* background-color: blueviolet; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


/* header styling */
header{
    max-width: 1500px;
    height: 90px;
    width: 95%;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    top: 0;
    position: sticky;
}

.logo{
    /* background-color: black; */
    height: 100px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    
}

.logo img{
    height: 50%;
}

.location-icon{
    display: flex;
    height: 50px;
    width: 115px;
    align-items: center;
    justify-content: space-between;
}

.location-icon p{
    color: black;
    font-size: 13px;
}

.material-symbols-outlined{
    color: red;
    font-size: 15px;
}

nav{
    /* background-color: yellow; */
    /* height: 100px; */
    width: 450px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-weight: bold;
}

.nav-home{
    color: red;
}

.shopping-cart{
    /* background-color: black; */
    /* height: 100px; */
    width: 150px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.hamburger-menu{
    visibility: hidden;
}


/* main styling */

main{
    width: 95%;
    max-width: 1500px;
    height: 63vh;
    /* min-height: 63vh; */
    /* height: auto; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-text{
    width: 50%;
    height: 100%;
    /* background-color: red; */
}

.welcome-text{
    height: auto; /*i did changes here from 27 vh to auto*/
    /* background-color: black; */
    color: red;
    margin-top: 100px;
}

.welcome-text p{
    font-size: 25px;
}

.welcome-text h1{
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 100px;
}

.welcome-text .sub-text{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: red;
    margin-top: 10px;
    display: none;
}

.main-cta{
    height: auto; /*i did changes here from 20vh to auto*/
    margin-top: 20px;
    color: red;
    /* background-color: aqua; */
}

.main-cta .cta-text{
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.main-cta-btn{
    margin-top: 6px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 35px;
}

.main-cta-btn .material-symbols-outlined{
    color: white;
    font-size: 40px;
}

.main-cta-btn button{
    height: 100px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: red;
    margin-right: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    
}

.main-cta-btn button p{
    margin-top: 5px;
}

.main-menu-image{
    width: 50%;
    /* height: auto; */
    height: 100%;
    overflow: hidden;
    /* background-color: green; */
}

.main-menu-image img{
    height: 100%;
    /* height: auto; */
    width: 100%;
    object-fit: cover;
}

/* discover menu section */

.menu-section{
    height: 87vh;
    width: 95%;
    max-width: 1500px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.menu{
    height: 40vh;
    width: 55%;
    text-align: center;
    margin-top: 130px;
    /* margin-left: auto; */
    
}

.menu-text{
    color: red;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    /* margin-top: 100px; */
}

.menu-text hr{
    width: 100px;
    height: 8px;
    margin: 0 auto;
    background-color: red;
    border-radius: 20px;
    border: none;
}

.menu-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    place-content: center;
    margin-top: 30px;
}

.menu-images img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.menu-images .overlay-text{
    font-size: 20px;
    position: absolute;
}

.menu-cta button{
    width: 200px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}

/* download section */

.download-section{
    height: 42vh;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.phone-download{
    width: 20%;
    height: 100%;
    /* background-color: black; */
    overflow: hidden;
    /* margin-top: 30px; */
}

.phone-download img{
    width: 100%;
}

.download-text{
    width: 22%;
    height: 100%;
    /* background-color: green; */
}

.download-text h2{
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 60px;
    line-height: 1;
}

.download-text p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 30px;
    line-height: 1.5;
}

.download-section .download-btn{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.download-btn .andriod-download{
    width: 180px;
    height: 70px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.download-btn .ios-download{
    width: 180px;
    height: 70px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* about section */

.about{
    height: 80vh;
    width: 100%;
}

.about-title{
    margin-top: 130px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: red;
    text-align: center;
}

.about hr{
    width: 60px;
    height: 8px;
    margin: 0 auto;
    background-color: red;
    border-radius: 20px;
    border: none;
}

.about-content{
    width: 60%;
    height: 50%;
    /* background-color: red; */
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.about-content-text{
    width: 50%;
    height: 100%; 
    /* background-color: yellow;   */
}

.about-content-text p{
    font-size: 20px;
}

.about-content-text button{
    width: 200px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.about-content-image{
    width: 50%;
    height: 100%;
    /* background-color: black; */
}

.about-content-image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* blog section */

.blog-section{
    height: 95vh;
    width: 100%;
    background-color: #f1070f44;
    display: grid;
    place-items: center;
}

.blog-section-images{
    width: 50%;
    height: 85%;
    /* background-color: green; */
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 300px);
    gap: 40px;
    justify-content: center;
    align-content: center;
    
}

.blog-section-images img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

/* news letter section */

.news-letter{
    height: 60vh;
    width: 100%;
    background-color: #FFDBDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-letter-content{
    width: 50%;
    height: 80%;
    /* background-color: black; */
}

.news-letter .news-letter-image{
    height: 45%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-letter .news-letter-image img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.news-letter .news-letter-text{
    height: 17%;
    /* background-color: white; */
    text-align: center;
}

.news-letter .news-letter-text h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.news-letter .news-letter-text p{
    margin-top: 10px;
}

.news-letter .subscribe{
    height: 18%;
    margin-top: 20px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* gap: 60%; */
}

.news-letter .subscribe input{
    height: 80%;
    width: 78%;
    border: none;
    border-radius: 50px;
}

.news-letter .subscribe button{
    font-size: 20px;
    height: 80%;
    width: 20%;
    background-color: red;
    border: none;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.news-letter .subscribe .new-subscribe{
        display: none !important;
    }

/* footer section */

footer{
    height: 61vh;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section{
    width: 90%;
    height: 68%;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info{
    height: 100%;
    width: 30%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer-logo{
    height: 40%;
    width: 40%;
    background-color: black;
}

.footer-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.opening-hours{
    height: 30%;
    width: 60%;
    background-color: black;
    color: white;
}

.opening-hours h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.footer-section .contact-us{
    height: 30%;
    width: 60%;
    background-color: blue;
    color: white;
}

.contact-us h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.footer-section .contact-us p{
    margin-top: 10px;
}

.legal-pages{
    height: 100%;
    width: 30%;
    background-color: white;
    color: white;
}

.legal-pages .pages{
    height: 70%;
    width: 60%;
    background-color: blue;
}

.legal-pages h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.legal-pages ul{
    font-size: 17px;

}

.legal-pages li{
    text-decoration: none;
    list-style-type: none;
    line-height: 1.8;
}

.legal-pages .social-info{
    height: 30%;
    width: 60%;
    background-color: blue ;
}

.social-info .social-icons{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: white;
    margin-top: 10px;
}

.social-icons img{
    filter: brightness(0) invert(1);
}


.feedback{
    height: 100%;
    width: 30%;
    background-color: blue;
    color: white;
}

.feedback .feedback-text{
    width: 90%;
    height: 30%;
    background-color: black;
}

.feedback .feedback-text h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.feedback .feedback-text p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 30px;
}

.feedback button{
    width: 50%;
    height: 20%;
    margin-top: 20px;
    background-color: white;
    border-radius: 50px;
    border: none;
    color: red;
    font-size: 20px;
}


/* ############## tablet view ################ */
@media(max-width: 1024px){
    nav{
        display: none;
    }

    .hamburger-menu{
        visibility: visible;
        display: block !important;
    }

    .shopping-cart{
        justify-content: space-around;
    }
    header{
    width: 95%;
    height: 10vh;
   } 

   main{
    height: 44vh;
    width: 95%;
    margin-top: 25px;
   }

   .main-menu-text{
    width: 50%;
    }

    .welcome-text{
    margin-top: 5px;
    height: 17vh;
    } 

    .welcome-text p{
        font-size: 25px;
    }

    .welcome-text h1{
        font-size: 59px;
        line-height: 60px;
    }

    .welcome-text .sub-text{
        display: none !important;
    }

    .main-cta{
        margin-top: 26px;
    }

    .main-cta .cta-text{
        font-size: 20px;
    }

    .main-cta-btn{
        margin-top: 6px;
    }

    .main-cta-btn button{
        height: 100px;
        width: 150px;
        border: none;
        border-radius: 20px;
        background-color: red;
        margin-right: 0;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }

    .main-cta-btn button p{
        margin-top: 5px;
    }

    .main-menu-image{
        width: 50%;
    }

    /* discover section */

    .menu-section{
    height: 125vh;
    width: 95%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    }

    .menu{
        height: 40vh;
        width: 90%;
        text-align: center;
        margin-top: 50px;
        /* margin-left: auto; */
        
    }

    .menu-text{
        color: red;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        /* margin-top: 100px; */
    }

    .menu-text hr{
        width: 100px;
        height: 8px;
        margin: 0 auto;
        background-color: red;
        border-radius: 20px;
        border: none;
    }

    .menu-images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        place-content: center;
        margin-top: 30px;
    }

    .menu-images img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 20px;
    }

    .menu-images .overlay-text{
        font-size: 20px;
        position: absolute;
    }

    .menu-cta button{
        width: 200px;
        height: 50px;
        background-color: red;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-top: 50px;
    }
   

    /* download section */

    .download-section{
        height: 40vh;
        width: 100%;
        background-color: red;
        display: flex;
        justify-content: center;
        gap:30px;
    }

    .phone-download{
        width: 40%;
        height: 100%;
        /* background-color: black; */
        overflow: hidden;
    }

    .phone-download img{
        width: 100%;
        
    }

    .download-text{
        width: 40%;
        height: 100%;
        /* background-color: green; */
    }

    .download-text h2{
        font-size: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: white;
        margin-top: 60px;
        line-height: 1;
    }

    .download-text p{
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        color: white;
        margin-top: 30px;
        line-height: 1.5;
    }

    .download-section .download-btn{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }

    .download-btn .andriod-download{
        width: 180px;
        height: 70px;
        background-color: black;
        color: white;
        border-radius: 10px;
    }

    .download-btn .ios-download{
        width: 180px;
        height: 70px;
        background-color: black;
        color: white;
        border-radius: 10px;
    }

    /* about section */

    .about{
        height: 75vh;
        width: 100%;
    }

    .about-title{
        margin-top: 80px;
        font-size: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: red;
        text-align: center;
    }

    .about hr{
        width: 60px;
        height: 8px;
        margin: 0 auto;
        background-color: red;
        border-radius: 20px;
        border: none;
    }

    .about-content{
        width: 95%;
        height: 60%;
        /* background-color: red; */
        margin: 30px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 60px;
    }

    .about-content-text{
        width: 50%;
        height: 100%; 
        /* background-color: yellow;   */
    }

    .about-content-text .about-info p{
        font-size: 18px;
        line-height: 1.5;
    }

    .about-content-text button{
        width: 200px;
        height: 50px;
        background-color: red;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        margin-top: 20px;
    }

    .about-content-image{
        width: 50%;
        height: 100%;
        /* background-color: black; */
    }

    .about-content-image img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    /* blog section */

    .blog-section{
        height: 90vh;
        width: 100%;
        background-color: #f1070f44;
        display: grid;
        place-items: center;
    }

    .blog-section-images{
        width: 90%;
        height: 85%;
        /* background-color: green; */
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(2, 250px);
        gap: 40px;
        justify-content: center;
        align-content: center;
        
    }

    .blog-section-images img{
        width: 350px;
        height: 250px;
        object-fit: cover;
        border-radius: 25px;
    }

    /*##################### news letter ############## */
    .news-letter{
        height: 60vh;
        width: 100%;
        background-color: #FFDBDB;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news-letter-content{
        width: 80%;
        height: 80%;
        /* background-color: black; */
    }

    .news-letter .news-letter-image{
        height: 45%;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-letter .news-letter-image img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .news-letter .news-letter-text{
        height: 17%;
        /* background-color: white; */
        text-align: center;
    }

    .news-letter .news-letter-text h2{
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }

    .news-letter .news-letter-text p{
        margin-top: 10px;
    }

    .news-letter .subscribe{
        height: 18%;
        margin-top: 20px;
        border-radius: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        /* gap: 60%; */
    }

    .news-letter .subscribe input{
        height: 80%;
        width: 78%;
        border: none;
        border-radius: 50px;
    }

    .news-letter .subscribe .first-btn{
        font-size: 15px;
        height: 80%;
        width: 20%;
        background-color: red;
        border: none;
        border-radius: 50px;
        color: white;
        text-align: center;
    }

    .news-letter .subscribe .new-subscribe{
        display: none !important;
    }
}

/* mobile view */
@media(max-width: 768px){

    .logo{
        justify-content: left;
    }

    .location-icon{
        margin-left: 10px;
    }

    header{
    width: 95%;
    height: 18vh;
   } 

   main{
    /* min-height: 90vh;
    height: auto; */
    height: 90vh;
    width: 90%;
    display: block;
    text-align: center;
    /* margin-top: 25px; */
   }

   .main-menu-text{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    }

    .welcome-text{
    margin-top: 0;
    height: 17vh;
    } 

    .welcome-text p{
        font-size: 20px;
    }

    .welcome-text h1{
        font-size: 60px;
        line-height: 55px;
    }

    .welcome-text .sub-text{
        display: none !important;
    }

    .main-cta{
        margin-top: 20px;
    }

    .main-cta .cta-text{
        font-size: 20px;
    }

    .main-cta-btn{
        margin-top: 6px;
        display: grid;
        grid-template-columns: auto auto;
        place-content: center;
        gap: 20px;
    }

    .main-cta-btn button{
        height: 100px;
        width: 150px;
        border: none;
        border-radius: 20px;
        background-color: red;
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-right: 0;
    }

    .main-cta-btn button p{
        margin-top: 5px;
    }

    .main-menu-image{
        width: 90%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-menu-image img{
        height: 100%;
        width: 100%;
        text-align: center;
    }

    /* discover section */

    .menu-section{
    height: 205vh;
    /* padding: 100px 20px; */
    width: 95%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    }

    .menu{
        height: 40vh;
        width: 85%;
        text-align: center;
        margin-top: 50px;
        /* background-color: brown; */
        /* margin-left: auto; */
        
    }

    .menu-text{
        color: red;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        /* margin-top: 100px; */
    }

    .menu-text hr{
        width: 100px;
        height: 8px;
        margin: 0 auto;
        background-color: red;
        border-radius: 20px;
        border: none;
    }

    .menu-images{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        place-content: center;
        margin-top: 40px;
    }

    .menu-images img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 20px;
    }

    .menu-images .overlay-text{
        font-size: 20px;
        position: absolute;
    }

    .menu-cta button{
        width: 200px;
        height: 50px;
        background-color: red;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-top: 50px;
    }

        /* about section */

    .about{
        height: 120vh;
        width: 100%;
    }

    .about-title{
        margin-top: 80px;
        font-size: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: red;
        text-align: center;
    }

    .about hr{
        width: 60px;
        height: 8px;
        margin: 0 auto;
        background-color: red;
        border-radius: 20px;
        border: none;
    }

    .about-content{
        width: 100%;
        height: 70%;
        /* background-color: red; */
        margin: 30px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        gap: 30px;
        margin-top: 60px;
    }

    .about-content-text{
        width: 90%;
        height: 100%; 
        /* background-color: yellow;   */
        text-align: center;
    }

    .about-content-text .about-info p{
        font-size: 18px;
        line-height: 1.5;
    }

    .about-content-text button{
        width: 200px;
        height: 50px;
        background-color: red;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 15px;
        margin-top: 15px;
    }

    .about-content-image{
        width: 90%;
        height: 100%;
        order: -1;
        /* background-color: black; */
    }

    .about-content-image img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    /* bloc section */

    .blog-section{
        height: 260vh;
        width: 100%;
        background-color: #f1070f44;
        display: grid;
        place-items: center;
    }

    .blog-section-images{
        width: 100%;
        height: 100%;
        /* background-color: green; */
        display: grid;
        grid-template-columns: repeat(1, 600px);
        grid-template-rows: repeat(1, 500px);
        gap: 40px;
        justify-content: center;
        align-content: center;
        
    }

    .blog-section-images img{
        width: 600px;
        height: 500px;
        object-fit: cover;
        border-radius: 25px;
    }

    /* news letter */

     .news-letter{
        height: 70vh;
        width: 100%;
        background-color: #FFDBDB;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news-letter-content{
        width: 95%;
        height: 80%;
        /* background-color: black; */
    }

    .news-letter .news-letter-image{
        height: 45%;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-letter .news-letter-image img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .news-letter .news-letter-text{
        height: 17%;
        /* background-color: white; */
        text-align: center;
    }

    .news-letter .news-letter-text h2{
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }

    .news-letter .news-letter-text p{
        margin-top: 10px;
    }

    .news-letter .subscribe{
        height: 12%;
        margin-top: 20px;
        border-radius: 50px;
        background-color: white;
        display: block;
        /* justify-content: center;
        align-items: center; */
        place-items: center;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        /* gap: 60%; */
    }

    .news-letter .subscribe input{
        height: 80%;
        width: 98%;
        border: none;
        border-radius: 50px;
    }

    .news-letter .subscribe .first-btn{
        display: none;
    }

    .news-letter .subscribe .new-subscribe{
        display: block !important;
        height: 90%;
        width: 98%;
        margin-top: 20px;
        background-color: red;
    }
}

@media(max-width: 639px){

    .main{
        height: 80vh;
        width: 90%;
        display: block;
        text-align: center;
    }

    .main-menu-text{
       height: 35vh;
    }

    .welcome-text{
        height: 6vh;
    }

    .welcome-text p{
        font-size: 20px;
    }

    .welcome-text h1{
        display: none !important;
    }

    .welcome-text .sub-text{
        /* visibility: visible !important; */
        display: block !important;
        font-size: 15px;
    }

    /* discover section */

    .menu-section{
        height: 205vh;
        /* padding: 100px 20px; */
        width: 95%;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
    }

    .menu{
        height: 40vh;
        width: 85%;
        text-align: center;
        margin-top: 0;
        /* background-color: brown; */
        /* margin-left: auto; */
        
    }

    .menu-text{
        color: red;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        line-height: 1;
        /* margin-top: 100px; */
    }

    .menu-text hr{
        width: 100px;
        height: 8px;
        margin: 0 auto;
        background-color: red;
        border-radius: 20px;
        border: none;
    }

    .menu-images{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        place-content: center;
        margin-top: 40px;
    }

    .menu-images img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 20px;
    }

    .menu-images .overlay-text{
        font-size: 20px;
        position: absolute;
    }

    .menu-cta button{
        width: 200px;
        height: 50px;
        background-color: red;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-top: 50px;
    }

    /* download section */

    .download-section{
        height: 76vh;
        width: 100%;
        background-color: red;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .phone-download{
        width: 80%;
        height: 50%;
        /* background-color: black; */
        overflow: hidden;
        margin: 0 auto;
    }

    .phone-download img{
        width: 100%;
        
    }

    .download-text{
        width: 95%;
        height: 40%;
        /* background-color: green; */
        margin: 0 auto;
        text-align: center;
    }

    .download-text h2{
        font-size: 35px;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        color: white;
        line-height: 1;

    }

    .download-text p{
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        color: white;
        margin-top: 2px;
        line-height: 1.5;
    }

    .download-section .download-btn{
        display: block;
        place-items: center;
        gap: 20px;
        /* margin-bottom: 20px; */
    }

    .download-btn .andriod-download{
        width: 150px;
        height: 70px;
        background-color: black;
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .download-btn .ios-download{
        width: 150px;
        height: 70px;
        background-color: black;
        color: white;
        border-radius: 10px;
    }

    /* blog section */

    .blog-section{
        height: 160vh;
        width: 100%;
        background-color: #f1070f44;
        display: grid;
        place-items: center;
    }

    .blog-section-images{
        width: 90%;
        height: 100%;
        /* background-color: green; */
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(1, 300px);
        gap: 40px;
        justify-content: center;
        align-content: center;
        
    }

    .blog-section-images img{
        width: 400px;
        height: 300px;
        object-fit: cover;
        border-radius: 25px;
    }

    .news-letter{
        height: 70vh;
        width: 100%;
        background-color: #FFDBDB;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news-letter-content{
        width: 95%;
        height: 80%;
        /* background-color: black; */
    }

    .news-letter .news-letter-image{
        height: 45%;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-letter .news-letter-image img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .news-letter .news-letter-text{
        height: 17%;
        /* background-color: white; */
        text-align: center;
    }

    .news-letter .news-letter-text h2{
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }

    .news-letter .news-letter-text p{
        margin-top: 10px;
    }

    .news-letter .subscribe{
        height: 12%;
        width: 90%;
        margin-top: 20px;
        border-radius: 50px;
        background-color: white;
        display: block;
        /* justify-content: center;
        align-items: center; */
        place-items: center;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        /* gap: 60%; */
    }

    .news-letter .subscribe input{
        height: 80%;
        width: 95%;
        border: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-letter .subscribe .first-btn{
        display: none;
    }

    .news-letter .subscribe .new-subscribe{
        display: block !important;
        height: 90%;
        width: 95%;
        margin-top: 20px;
        background-color: red;
    }

}